#root {
  padding-inline: 2em;
}

.flow * + * {
  margin-top: 1em;
}


.message {
  margin-block: .85rem;
  padding: 1em;
  background-color: rgb(231, 231, 231);
  color: green;
  border: 3px solid green;
  border-radius: 5px;
}


.error {
  color: red;
  border-color: red;
}
